/* Basic styles */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #F7F3E8; /* Catan board color */
}

header {
    background-color: #D9B877; /* Catan resource color */
    color: #333;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0.5rem 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff; /* Section background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Catan-inspired styles */
h2 {
    color: #D9B877; /* Catan resource color */
}

button {
    background-color: #B57E3A; /* Catan brick color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #96662A;
}

#about ul {
    list-style-type: none;
}

#logout-btn {
    float: right;
  }

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close-btn:hover,.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
